<th:block th:include="/header" xmlns="http://www.w3.org/1999/html"></th:block>


<div class="container">

    <div class="jumbotron">
        <p class="center-block">
            <th:block th:if="${username}">
                欢迎租户[<span th:text="${tenant}"></span>]下用户[<span th:text="${username}"></span>]来到云平台主页面...</br>
                当前节点：<span th:text="${nodeHost}"></span>:<span th:text="${nodePort}"></span>
            </th:block>
            <th:block th:unless="${username}">
                未登录状态， <a href="/account/login"> 登录</a>
            </th:block>
        </p>
    </div>


</div> <!-- /container -->

<th:block th:include="/footer"></th:block>

