<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dpi.web.mapper.auto.mapper.FunctionModelMapper">

    <resultMap id="BaseResultMap" type="com.dpi.web.mapper.auto.entity.FunctionModel">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="pid" column="pid" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="rtype" column="rtype" jdbcType="TINYINT"/>
            <result property="hassubdirectory" column="hasSubdirectory" jdbcType="TINYINT"/>
            <result property="order" column="order" jdbcType="INTEGER"/>
            <result property="urlPath" column="url_path" jdbcType="VARCHAR"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="tenantId" column="tenant_id" jdbcType="INTEGER"/>
            <result property="state" column="state" jdbcType="TINYINT"/>
            <result property="isDelete" column="is_delete" jdbcType="TINYINT"/>
            <result property="revision" column="revision" jdbcType="VARCHAR"/>
            <result property="createdBy" column="created_by" jdbcType="VARCHAR"/>
            <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
            <result property="updatedBy" column="updated_by" jdbcType="VARCHAR"/>
            <result property="updatedTime" column="updated_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,pid,name,
        rtype,hasSubdirectory,order,
        url_path,remark,tenant_id,
        state,is_delete,revision,
        created_by,created_time,updated_by,
        updated_time
    </sql>
</mapper>
